.header{
  width:100%;
  min-height:3em;
  margin-bottom: 1em;
  padding:0.5em;
  font-weight: 400;
}
.well {
    background-color: #ffffff;
    /* color: white; */
    border-color: #2e6e8e;
}

.header a:link,a:visited {
    color:#2e6e8e;
    font-weight: 600;
    text-decoration: underline;
}
.header a:link:hover,a:visited:hover {
    color:#428bca;
}
.header div{
  margin-bottom: 0.5em;
}
legend {
    font-size: 1em;
    margin-top: 1em;
    font-style: italic;
}
label{
  font-weight: 400;
}
#readmore{
  float:right;
}
.hide{
  display:none;
}